.container{
  margin: 0;
  padding: 10px;
  border-radius: 5px;
  width: 400px;
}

.btn {
  border: none;
  border-radius: 5px;
  font-family: 'Lato';
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 5px 5px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-save {
  background-color: #F48736;
  color: #fff;
}
.btn-visit {
  background-color: #009C4C;
  color: #fff;
}
.btn-copy {
  background-color: #005EB9;
  color: #fff;
  font-size: smaller;
}

.act {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.info {
  font-weight: 700;
  font-size: larger;
}

.pages {
  height: 200;
  overflow-y: scroll;
  border-radius: 5px;
  border-style: solid;
  border-color: gray;
  background-color: lightgray;
}

.savedPage {
  display: grid;
  gap:1rem;
  margin: 0.5em;
  padding: 5px;
  border-style: solid;
  border-radius: 5px;
  border-color: gray;
}

.savePage > a {
  grid-row: 1 / span 1;
  grid-column: 1 / span 2;
  font-size: small;

}

.savePage  button{
  background-color: red;
  grid-row: 2 / span 1;
  grid-column: 1 / span 2;
}